[init]
	defaultBranch = main
[alias]
	alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
	graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	precommit = diff --cached --diff-algorithm=minimal -w
	unmerged = diff --name-only --diff-filter=U
	remotes = remote -v
	firstcommit = commit --allow-empty -m 'initial commit'
	aa = !git add .  && git add -u && git status
	wip = commit -m 'wip'
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ac = !git add -A && aicommit2 -a
	ss = status --short --branch
[diff]
	algorithm = histogram
	colorMoved = dimmed-zebra
[gpg]
	program = gpg
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[tag]
	forceSignAnnotated = true
[url "ssh://git@github.com"]
	insteadOf = https://github.com
